<template>
  <div class="finish">
      <h2>Вот и все ты встала взрослой<br>
          И нет никакого профита быть им.<br>
          Ты сама познала что это такое,<br>
          Tуда сходи денег заработай, там плоти, тут плоти.<br>
          Ад одним словом.</h2>

          <h2>ЗЫ: Ну теперь можно пить пивко)))<br>
          Беги на кухню именниница.</h2>

      <img src="@/assets/images/pivo.png" class="pivo">
      <h1 class="sdr">Короч С ДР! Бро)</h1>
      <img src="@/assets/images/old.png" class="old">
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .pivo {
        width: 15rem;
        background-size: cover;
        animation: 'pivo-rotate' 1.2s linear infinite;

        @keyframes pivo-rotate {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(-10deg);
            }
            50% {
                transform: rotate(0deg);
            }
            75% {
                transform: rotate(10deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
    }

    & .sdr {
        font-size: 5rem;
    }

    & .old {
        width: 12rem;
        background-size: cover;
        animation: 'old-scale' 1.2s linear infinite;

        @keyframes old-scale {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}
</style>