<template>
  <div class="home">
    <img class="yuy" src="@/assets/images/yuy.png" />
    <h2>ъуъ сука проходи квест</h2>
    <button class="start-pain" @click="isShure = true" v-if="!isShure">
      Начать страдать
    </button>
    <div class="box-shure" v-show="isShure">
      <transition name="fade" mode="out-in">
        <h2 :key="qwession">{{ qwession }}</h2>
      </transition>
      <div class="box-answers">
        <button class="again-start-pain" @click="$router.push('start')">
          Да, я хочу боли!
        </button>
        <button class="stop-pain" v-if="isShowStopPain" @click="sotopPain">
          Я тут подумала, и ну нафиг!
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",

  data() {
    return {
      isShure: false,
      isShowStopPain: true,
      qwession: "Может ну его нафиг?"
    };
  },

  methods: {
    sotopPain() {
      this.qwession = "Соси писос, это так не работает.";
      this.isShowStopPain = false;
    }
  }
};
</script>

<style lang="scss">
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 1;
  padding-bottom: 2rem;

  & .yuy {
    width: 20rem;
    background-size: cover;
    animation: scale 0.8s linear infinite;
  }

  & .start-pain {
    margin-top: auto;

    font-size: 24px;
    font-weight: 600;

    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    background-color: initial;
    border: none;
    color: #000;
    transition: color 0.2s linear;
    cursor: pointer;

    &:hover {
      color: #ccc;
    }

    @keyframes scale {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  & .box-shure {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: "opacity-show" 3s linear;
    color: rgb(139, 139, 139);
    margin-top: auto;

    & .again-start-pain {
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      background-color: initial;
      border: none;
      color: red;
      transition: color 0.2s linear;
      cursor: pointer;
      font-size: 20px;
      width: 20rem;

      &:hover {
        color: #000;
      }
    }

    & .stop-pain {
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;
      background-color: initial;
      border: none;
      color: green;
      transition: color 0.2s linear;
      cursor: pointer;
      font-size: 20px;
      width: 20rem;

      &:hover {
        color: #000;
      }
    }

    @keyframes opacity-show {
      0% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
</style>
