<template>
  <div class="main">
    <p>
      Здраствуй мой маленький извращенец...<br />
      Вот и началась твоя тернистая дорога во взрослую жизнь. Это по своему
      итересно и захватывающе, но для этого надо прелогать усилия.
    </p>
    <button class="continue" @click="$router.push('/task/1')">
      Продолжить...
    </button>
  </div>
</template>

<script>
export default {
  name: "Start"
};
</script>

<style lang="scss">
.main {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 3rem;
  height: inherit;

  & > p::after {
    content: '"';
  }
  & > p::before {
    content: '"';
  }

  & .continue {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    transition: color 0.3s linear;

    &:hover {
      color: #ccc;
    }
  }
}
</style>
