<template>
  <div class="task-wrapper">
    <router-view />
    <transition name="fade" mode="out-in">
      <button :key="btnLeave" class="toLeave" @click="toLeave">
        {{ btnLeave }}
      </button>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      btnLeave: "Сдаться",
      leaveCounter: 0,
      leaveArray: [
        "Решай дальше халявщик!",
        "Э не дружек, хрен там плавал, сиди проходи!",
        "Ты че, ты че пес!?",
        "Тест сам себя не пройдет!",
        "Жепа ленивая!",
        "Э хвати жамкать!",
        "Ты еще накликаещься, решай!",
        "Мне надоела ты, фемка облезлая!",
        "Олололо это конец, далше не будет",
        "О вот и по второму кругу пошли)))"
      ]
    };
  },

  methods: {
    toLeave() {
      this.leaveCounter++;
      console.log(this.leaveArray.length);
      if (this.leaveCounter >= this.leaveArray.length) {
        this.leaveCounter = 0;
      }
      this.btnLeave = this.leaveArray[this.leaveCounter];
    }
  }
};
</script>

<style lang="scss">
.task-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  & .toLeave {
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: red;
    transition: color 0.2s linear;
    margin-top: auto;
    font-size: 2rem;

    &:hover {
      color: grey;
    }
  }
}
</style>
