<template>
  <div class="current-task">
    <transition name="fade" mode="out-in">
      <h2>{{ title }}</h2>
    </transition>
    <component :is="component" />
  </div>
</template>

<script>
import monyCliker from "../components/MoneyCliker.vue";
import housePayment from "../components/HousePayment.vue";
import capchaShop from "../components/CapchaShop.vue";

export default {
  computed: {
    title() {
      let title = "";
      switch (+this.$route.params.id) {
        case 1: {
          title = "Заработай себе на покушать!";
          break;
        }
        case 2: {
          title = "О вот и время за квартирку платить!";
          break;
        }
        case 3: {
          title = "А жрать то нечего дома, топай в магазин!"
          break;
        }
        default: {
          title = "Усе хавтит с тебя";
          break;
        }
      }

      return title;
    },

    component() {
      let component = "";
      switch (+this.$route.params.id) {
        case 1: {
          component = "monyCliker";
          break;
        }
        case 2: {
          component = "housePayment";
          break;
        }
        case 3: {
          component = "capchaShop";
          break;
        }
        default: {
          component = "";
          break;
        }
      }

      return component;
    }
  },

  components: {
    monyCliker,
    housePayment,
    capchaShop
  }
};
</script>

<style lang="scss">
.current-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
</style>
