<template>
  <div class="capcha-shop">
      <h1>Сходи в магазин пройдя капчу с товарами</h1>
      <div class="capcha">
          <transition v-for="index in 9" :key="index" name="fade" mode="out-in">
            <img @click="addToTrash" :src="require('@/assets/images/capcha/' + (index) + '.jpg')">
          </transition>
      </div>
      <transition name="fade" mode="out-in">
        <button v-if="isShowNextPageButton" :key="isShowNextPageButton" class="btn btn-shop" @click="$router.push('/finish')">Покупочки затарены, можно и домой...</button>
      </transition>
  </div>
</template>

<script>
export default {
    data() {
        return {
            nextImage: 10,
            isShowNextPageButton: false,
            counterClick: 0
        }
    },

    methods: {
        addToTrash(event) {
            this.counterClick++
            if(this.counterClick == 16) {
                this.isShowNextPageButton = true
            }
            if(this.nextImage >= 17) {
                event.target.src = require('@/assets/images/capcha/arrow_check.png')
                return
            }
            event.target.src = require('@/assets/images/capcha/' + (this.nextImage) + '.jpg')
            this.nextImage++
        }
    }
}
</script>

<style lang="scss">
.capcha-shop {
    & .capcha {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 37em;

        & > img {
            width: 10rem;
            height: 10rem;
            background-size: contain;
            margin: 1rem;
            border-radius: 0.7rem;
            box-shadow: 0 0 20px 4px rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
        }
    }

    & .btn-shop {
            margin: 3rem 0;
        }
}
</style>