<template>
  <div class="housePayment">
    <h1>Успей заплатить за хату пока тебя не выселили!</h1>
    <img class="putin-img" src="@/assets/images/putin.jpg" />
    <h1>Таймер: {{ timer }}</h1>
    <h1>Нука посчитай сколько плотить за газ...</h1>
    <transition name="fade" mode="out-in">
      <div class="calc-box">
        <h1>{{ firstNum }} + {{ secondNum }} =</h1>
        <input @change="check" v-model="result" />
      </div>
    </transition>
    <transition name="fade" mode="out-in">
      <h1 :key="isSlow" v-if="isSlow">Лох! Не успел, давай заново.</h1>
    </transition>
    <transition name="fade" mode="out-in">
      <button v-if="isShowPayButton" @click="stopTimer" class="btn">
        Оплатить комуналочку (и за свет занести не забудь...)
      </button>
    </transition>
  </div>
</template>

<script>
export default {
  mounted() {
    let seconds = 45;
    this.timer = seconds;
    this.callNewTimer(seconds);
    this.firstNum = this.model[this.counterPrimer].first;
    this.secondNum = this.model[this.counterPrimer].second;
  },

  data() {
    return {
      timer: 0,
      isSlow: false,
      interval: null,
      timeoutLox: null,
      firstNum: 0,
      secondNum: 0,
      result: 0,
      counterPrimer: 0,
      isShowPayButton: false,
      model: [
        { first: 2, second: 2, result: 4 },
        { first: 12, second: 43, result: 55 },
        { first: 51, second: 6, result: 57 },
        { first: 34, second: 18, result: 52 },
        { first: 23, second: 27, result: 50 },
        { first: 75, second: 32, result: 107 }
      ]
    };
  },

  methods: {
    callNewTimer(seconds) {
      this.interval = setInterval(() => {
        this.timer = this.timer - 1;
      }, 1000);

      this.timeoutLox = setTimeout(() => {
        this.timer = seconds;
        this.isSlow = true;
        this.firstNum = this.model[0].first;
        this.secondNum = this.model[0].second;
        this.counterPrimer = 0;
        clearInterval(this.interval);
        setTimeout(() => {
          this.isSlow = false;
        }, 5000);
        this.callNewTimer(seconds);
      }, seconds * 1000);
    },

    stopTimer() {
      clearTimeout(this.timeoutLox);
      clearInterval(this.interval);
      this.$router.push('/task/3');
    },

    check() {
      if (this.model[this.counterPrimer].result == this.result) {
        this.counterPrimer++;
        if (this.counterPrimer >= this.model.length) {
          this.stopTimer();
          this.isShowPayButton = true;
          return;
        }
        this.firstNum = this.model[this.counterPrimer].first;
        this.secondNum = this.model[this.counterPrimer].second;
      }
    }
  }
};
</script>

<style lang="scss">
.housePayment {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calc-box {
    display: flex;
    align-items: center;
    justify-content: center;

    & > input {
      width: 3.4rem;
      height: 1rem;
      font-size: 1.5rem;
      padding: 1rem;
      margin-left: 1rem;
    }
  }

  .putin-img {
    width: 20rem;
    background-size: cover;
  }
}
</style>
