<template>
  <div class="money-cliker">
    <img src="@/assets/images/ten_rub.png" @click="work" />
    <h2>{{ totalMoney }} $</h2>
    <transition name="fade" mode="out-in">
      <h3 :key="masseges">{{ masseges }}</h3>
    </transition>
    <transition name="fade" mode="out-in">
      <button
        :key="isShowNext"
        v-if="isShowNext"
        class="btn"
        @click="$router.push('/task/2')"
      >
        Вобщем то копейки, но на дошик ты заработала..
      </button>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counterClik: 0,
      totalMoney: -200,
      masseges: "",
      isShowNext: false,
      nextMessegeCounter: 0
    };
  },

  methods: {
    work() {
      this.counterClik++;
      /* 5 sec */
      if (this.totalMoney > 1600) {
        this.totalMoney =
          this.totalMoney - (Math.floor(Math.random() * (300 - 200)) + 200);
        this.masseges = this.getRandomTaxString();
      }
      let loaclMoney = this.totalMoney;
      loaclMoney = loaclMoney + Math.floor(Math.random() * (20 - 5)) + 5;
      if (this.counterClik > 50) {
        setTimeout(() => {
          this.isShowNext = true;
        }, 30000);
      }
      this.totalMoney = loaclMoney;
    },

    getRandomTaxString() {
      this.nextMessegeCounter++;
      if (this.nextMessegeCounter > 3) {
        this.nextMessegeCounter = 1;
      }
      switch (this.nextMessegeCounter) {
        case 1:
          return "Деньги получаешь, налог плоти!";
        case 2:
          return "А хули ты хотел, на кап ремонт тоже скидываться надо!";
        case 3:
          return "Кредит за айфон сам себя не выплатит!";
        default:
          return "Cоси лапу бомж.";
      }
    }
  }
};
</script>

<style lang="scss">
.money-cliker {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > img {
    width: 20rem;
    background-size: cover;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
}
</style>
