<template>
  <div id="wrapper">
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss">
@font-face {
  font-family: "Proxima Nova";
  src: url("~@/assets/fonts/ProximaNova-Regular.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: auto;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.btn {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s linear;
  color: red;

  &:hover {
    color: #ccc;
  }
}
</style>
